@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Barlow", sans-serif;
    background-color: #E5E5E5;;
    color: #fff;
    text-align: center;
}

.leaderboard{
    background: radial-gradient(137.47% 202.31% at -4.93% 1.87%, #1B3765 48.83%, #1890BA 100%);
}
.leaderboard--title{
    font-family: "Barlow",sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 86.4px;
    text-align: center;
}

h1 {
    color: #fff;
    margin-top: 20px;
}

#searchBox {
    width: 80%;
    padding: 8px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#leaderboard {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4a90e2;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer; /* Pointer cursor for sortable headers */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.details {
    margin-top: 10px;
    padding: 10px;
    background-color: #e7f3fe;
    border: 1px solid #b3d4fc;
    border-radius: 5px;
    width: 18%;
    text-align: start;
}

.icon-coverage::before {
    content: "📈"; /* Example icon for coverage */
}
.icon-bugs::before {
    content: "🐛"; /* Example icon for bugs */
}
.icon-vulnerabilities::before {
    content: "🔒"; /* Example icon for vulnerabilities */
}
.icon-code-smells::before {
    content: "💩"; /* Example icon for code smells */
}
.icon-technical-debt::before {
    content: "⏳"; /* Example icon for technical debt */
}
.icon-complexity::before {
    content: "⚙️"; /* Example icon for complexity */
}

.dt-center {
    text-align: -webkit-center !important;
    text-align: center !important;
}

.dt-center-details {
    text-align: -webkit-center !important;
    text-align: center !important;
}

#score-table td.dt-center-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-place{
    margin-top: -10rem;
}
.second-place{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.third-place{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 768px){
    .custom-items{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-25%, 0%);
    }
}


.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.barlow-extralight {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.barlow-light {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-extrabold {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.barlow-black {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.barlow-thin-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.barlow-extralight-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.barlow-light-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.barlow-regular-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-medium-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-semibold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-bold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.barlow-extrabold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.barlow-black-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: italic;
}

#place .card{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none;
}
.custom-image{
    position: relative;
}

.custom-image img{
    border: 6px solid #071122;
    border-radius: 50%;
}

.custom-badge{
    background: #071122;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    top: 84%;
    left: 37%;
    color: #fff;
    
}
.card-text h4{
    color: #fff !important;
    font-size: 28.8px;
    line-height: 43.2px;
    margin-top: 1rem;
    font-family: "Barlow", sans-serif;
}

.score img{
    padding-bottom: 15px;
    margin-right: 4px;
}

.score span{
    font-size: 26px;
    line-height: 39px;
    margin-top: 1px;
    color: #fff;
}

table{
    border: none !important;
}

table > :is(thead,tbody) > tr > :is(th,td){
    border: none !important;
}

table > thead > tr > th {
    background-color: transparent;
}
