@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Barlow", sans-serif;
    background-color: #E5E5E5;;
    color: #fff;
    text-align: center;
}

.leaderboard {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.leaderboard::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

#score-table{
    border-collapse: separate;
    border-spacing: 0 4px;
}

.leaderboard{
    background: radial-gradient(137.47% 202.31% at -4.93% 1.87%, #1B3765 48.83%, #1890BA 100%);
}
.leaderboard--title{
    font-family: "Barlow",sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 86.4px;
    text-align: center;
}

h1 {
    color: #fff;
    margin-top: 20px;
}

#searchBox {
    width: 80%;
    padding: 8px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#leaderboard {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4a90e2;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer; /* Pointer cursor for sortable headers */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.dt-input option{
    background-color: #1B3765 !important;
}

.details{
    display: inline-flex;
    font-size: 12px;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;

    p{
        margin: 1rem 0;
    }
}

.icon-coverage::before {
    content: "📈"; /* Example icon for coverage */
}
.search-icon::before{
    content: "⌕";
}
.icon-bugs::before {
    content: "🐛";
}
.icon-vulnerabilities::before {
    content: "🔒"; /* Example icon for vulnerabilities */
}
.icon-code-smells::before {
    content: "💩"; /* Example icon for code smells */
}
.icon-technical-debt::before {
    content: "⏳"; /* Example icon for technical debt */
}
.icon-complexity::before {
    content: "⚙️"; /* Example icon for complexity */
}

.dt-center {
    text-align: -webkit-center !important;
    text-align: center !important;
}

.dt-center-details {
    text-align: -webkit-center !important;
    text-align: center !important;
}

#score-table td.dt-center-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-place{
    margin-top: -10rem;
}
.second-place{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.third-place{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 767px){
    .custom-items{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-25%, 0%);
    }
}


.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.barlow-extralight {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.barlow-light {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barlow-medium {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.barlow-semibold {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.barlow-bold {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.barlow-extrabold {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.barlow-black {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.barlow-thin-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.barlow-extralight-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.barlow-light-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.barlow-regular-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.barlow-medium-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.barlow-semibold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.barlow-bold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.barlow-extrabold-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.barlow-black-italic {
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: italic;
}

#place{
    gap: 8rem;
    margin: 30px 0;
}

#place .card{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none;
}
.custom-image{
    position: relative;
}

.custom-image img:not(.crown) {
    border: 6px solid #071122;
    border-radius: 50%;
}

.custom-image .crown{
    position: absolute;
    top: -26%;
    left: 34%;
}

.custom-badge{
    background: #071122;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: absolute;
    top: 84%;
    left: 31%;
    color: #fff;
    
}

.custom-badge:not(:nth-child(2)){
    left: 33%;
}

.card-text h4{
    color: #fff !important;
    font-size: 28.8px;
    line-height: 43.2px;
    margin-top: 1rem;
    font-family: "Barlow", sans-serif;
    width: 350px;
}

.score img{
    padding-bottom: 15px;
    margin-right: 4px;
}

.score span{
    font-size: 26px;
    line-height: 39px;
    margin-top: 1px;
    color: #fff;
}

table{
    border: none !important;
}

table > :is(thead,tbody) > tr > :is(th,td){
    border: none !important;
}

table > thead > tr > th {
    background-color: transparent;
}

table.dataTable > thead {
    background-color: transparent;
}

table.dataTable > :is(tbody)>tr {
    background-color: #09172F;
}


@media only screen and (max-width:472px) {
    .first-place{
        margin-top:2.5rem;
        transform: scale(1.2);
    }
    .dt-layout-row{
        overflow-x: scroll !important;
    }
    .dt-search{
        text-align: end !important;
    }
    #place{
        gap: 3rem;
    }

    .card-text h4{
        font-size: 25px;
        width: 250px;
    }
    .custom-items{
        left: 9%;
        width: 50%;
    }
}
@media only screen and (max-width:912px) {
    #place {
        gap: 3rem;
    }
    .card-text h4 {
        font-size: 25px;
        width: 250px;
    }
}

.deatils-parent hr{
    margin: 0.1rem 0;
}

.footer{
    height: 116px;
    width: 100%;
    background: #E5E5E5;
    text-align: center;

    .footer-div{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 16px;

        h3{
            color: #1B3765;
        }

        img{
            width: 161.33px;
        }
    }
}

.btn{
    font-weight: 500;
}

.btn-primary{
    background: #1890BA !important;
}

.btn-light{
    color: #0097CB !important;
    background-color: #fff !important;
}

.place-card{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label[for="dt-search-0"]{
    display: none;
}

.dt-input{
    padding-left: 15px !important;
    border-radius: 15px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.dt-input::placeholder{
    color: #fff;
}
.dt-input:is(:focus,:focus-visible){
    outline: none;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: #fff;
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

@media (max-width: 768px) {
    #place {
        gap: 3rem !important;
    }

}