body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

h1 {
    color: #4a90e2;
    margin-top: 20px;
}

#searchBox {
    width: 80%;
    padding: 8px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#leaderboard {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4a90e2;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer; /* Pointer cursor for sortable headers */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.details {
    margin-top: 10px;
    padding: 10px;
    background-color: #e7f3fe;
    border: 1px solid #b3d4fc;
    border-radius: 5px;
    width: 18%;
    text-align: start;
}

.icon-coverage::before {
    content: "📈"; /* Example icon for coverage */
}
.icon-bugs::before {
    content: "🐛"; /* Example icon for bugs */
}
.icon-vulnerabilities::before {
    content: "🔒"; /* Example icon for vulnerabilities */
}
.icon-code-smells::before {
    content: "💩"; /* Example icon for code smells */
}
.icon-technical-debt::before {
    content: "⏳"; /* Example icon for technical debt */
}
.icon-complexity::before {
    content: "⚙️"; /* Example icon for complexity */
}

.btn {
    background-color: #7cc17e; /* Green with a slight gradient */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px; /* Space for an icon if needed */
}

.dt-center {
    text-align: -webkit-center !important;
    text-align: center !important;
}

.dt-center-details {
    text-align: -webkit-center !important;
    text-align: center !important;
}

#score-table td.dt-center-details {
    display: flex;
    justify-content: center;
    align-items: center;
}